@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary-color: #F3F5FC;
    --secundary-color: #0a3871;
    --tertiary-color: #D8DFE8;
    --quaternary-color: #FFFFFF;

    --font-inter:'Inter', sans-serif;
}

*{
    background-color: var(--primary-color);
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 1.5rem;
}

.header {
    padding: 2% 0% 0% 2%;
}

.logo{
    width: 10%;
}

/* main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;

} */

.presentation {
    display: flex;
    align-items: center;
    /* padding: 5% 15%; */
    justify-content: space-between;
    gap: 82;
}

.text-area{
    border: none;
    color: #0a3871;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
}
::placeholder{
    color:#0a3871;
}
.text-area:focus{
    outline: none;
}

.mensaje{
    background: white;
    background-image: url("assets/Muneco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 98px;
    margin-top: 60px;
    padding-left: 20px;
    position: fixed;
    background-position: center;
}
.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar{
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copiar{
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
    position: fixed;
    background-position: center;
}

.informacion{
    color: #495057;
    font-size: 18px;
}
